<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="theme-color" content="#000000">
    <title>Delete</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/brands.min.css" integrity="sha512-8RxmFOVaKQe/xtg6lbscU9DU0IRhURWEuiI0tXevv+lXbAHfkpamD4VKFQRto9WgfOJDwOZ74c/s9Yesv3VvIQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/fontawesome.min.css" integrity="sha512-d0olNN35C6VLiulAobxYHZiXJmq+vl+BGIgAxQtD5+kqudro/xNMvv2yIHAciGHpExsIbKX3iLg+0B6d0k4+ZA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>

<div class="container ">
    <div class="justify-content-center align-items-center d-flex w-100">
        <form class="w-50 p-5" th:action="@{/products/api/delete/{id}(id=${productsModel.id})}" method="post" enctype="application/x-www-form-urlencoded">
            <div class="header mb-2 mt-2">
                <h1>Delete Form</h1>
            </div>
            <!-- product_name input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="product_name">Product name</label>
                <input  type="text" id="product_name" class="form-control" placeholder="enter your product_name" th:value="${productsModel.product_name}"  th:field="${productsModel.product_name}" />
            </div>
            <!-- Price input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="price">Price</label>
                <input type="text" id="price" class="form-control"  placeholder="enter your price" th:value="${productsModel.price}" th:field="${productsModel.price}"/>
            </div>

            <!-- quality input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="quality">Quality</label>
                <input type="number" id="quality" class="form-control"  placeholder="enter your quality" th:value="${productsModel.quality}" th:field="${productsModel.quality}"/>
            </div>



            <!--            &lt;!&ndash; Password input &ndash;&gt;-->
            <!--            <div class="form-outline mb-4">-->
            <!--                <label class="form-label" for="password">Password</label>-->
            <!--                <input type="password"  th:field="*{usersModel.password}" id="password" class="form-control" th:value="${usersModel.password}" />-->
            <!--            </div>-->



            <!-- Submit button -->
            <button type="submit" class="btn btn-danger btn-block mb-4" onclick=" return confirm ('are u sure')">Delete</button>
            <a href="/products" class="btn btn-primary btn-block mb-4" >Home</a>

        </form>
    </div>
</div>
</body>
</html>
