<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <meta name="theme-color" content="#000000">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/brands.min.css" integrity="sha512-8RxmFOVaKQe/xtg6lbscU9DU0IRhURWEuiI0tXevv+lXbAHfkpamD4VKFQRto9WgfOJDwOZ74c/s9Yesv3VvIQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/fontawesome.min.css" integrity="sha512-d0olNN35C6VLiulAobxYHZiXJmq+vl+BGIgAxQtD5+kqudro/xNMvv2yIHAciGHpExsIbKX3iLg+0B6d0k4+ZA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
<div class="container">
    <h1 class="text-center my-4">Users List</h1>
    <div class="d-flex flex-box">
        <a class="btn btn-outline-success my-2 my-sm-0"  href="/users/create">Create User</a>
        <a class="btn btn-outline-success my-2 my-sm-0 m-2"  href="/">Home</a>
        <form th:action="@{deleteAll}" method="POST" >
            <button class="btn btn-outline-success my-2 my-sm-0"  onclick="return confirm('are you sure?')" type="submit" >DeleteAll User</button>
        </form>
    </div>

    <table class="table">

        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>email</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="user : ${usersModel}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
            <td style="white-space: nowrap">
                <a class="btn btn-outline-success my-2 my-sm-0" th:href="@{users/api/edit/{id}(id=${user.id})}">edit</a>
                <a class="btn btn-outline-danger my-2 my-sm-0"
                   th:href="@{users/api/delete/{id}(id=${user.id})}"
                >delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>